body {
    background: -webkit-gradient(linear, 0 0, 100% 0,from(#6AC1FC), to(#2777EC));
background: -moz-linear-gradient(#6AC1FC, #2777EC);
background: -o-linear-gradient(#6AC1FC, #2777EC);
     background: linear-gradient(left center, #6AC1FC, #2777EC);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#wrapper{
    width: 50%;
    margin: auto;
    position: absolute;
    top: 20%; 
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

#answer{
    width: 30%;
    margin: auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);  
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.look{
    width: 80px;
    height: 40px;
    background-color: white; 
    border-radius: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}